
{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login </title>
  <link rel="icon" href="{% static 'C:\Users\Acer\Desktop\Python Project\Attendence_system\static\img\images.jpg' %}"
            type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container" id="container">
	<div class="watermarked" id="cf2">
		<br><img src="{% static 'C:\Users\Acer\Desktop\Python Project\Attendence_system\static\img\images.jpg'%}" id="ER" style="width: 45px;height: 45px;" />
		<img src="{% static 'C:\Users\Acer\Desktop\Python Project\Attendence_system\static\img\images.jpg'%}" id="ERL" style="width: 75px;height: 75px;opacity:0;"/>
	</div>
	<div class="form-container sign-up-container">
    <form  method="POST" action="loginStaff">
      {% comment %} action={% url 'faclogin' %} {% endcomment %}
        <h1>STAFF ACCOUNT</h1>
        {% csrf_token %}
        <input type="text" name="user_name" id="user_name" class="form__input" placeholder="User Name" required autofocus>
        <input class="form__input" type="password" name="password" placeholder="Password" required>
		  {% comment %} <a href="https://www.facebook.com/Nits.nitul">Forgot your password?</a> {% endcomment %}
          <button>SIGN IN</button>
    </form>
	</div>

	<div class="form-container sign-in-container">
    <form action="loginStudent" method="POST">  
      <h1>STUDENT ACCOUNT</h1>
      {% csrf_token %}
        <br><br><br><br>
      <input type="text" name="user_name" id="user_name" class="form__input" placeholder="User Name" required autofocus>
      <input class="form__input" type="password" name="password" placeholder="Password" required>
      {% comment %} <a href="https://www.facebook.com/">Forgot your password?</a> {% endcomment %}
      <button>SIGN IN</button>
    </form>
	</div>

	<div class="overlay-container" id="oVER">
    <div class="overlay">
        <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>
              Khwopa Engineering College 4th Semester Attendence System 🧾
            </p>
            <button class="ghost" id="signIn">Student</button>
            {% comment %} <button class="host" id="next">Admin</button> {% endcomment %}
            <br>
            <br>
            <br>
        </div>
        <div class="overlay-panel overlay-right">
			<h1>Welcome Back!</h1>
            <p>
                Khwopa Engineering College 4th Semester Attendence System 🧾
            </p>
            <button class="ghost" id="signUp">Not a Student?</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% comment %} <p>
              {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message|safe }}
              </div>
          {% endfor %}
          {% endif %}
            </p> {% endcomment %}
        </div>
    </div>
	</div>
    </div>
  </body>
</html>
  <script  src="{% static 'js/script.js'%}"></script>


</body>
</html>