{% extends 'base.html' %}
{% block title %}attendence{% endblock title %}
{% block body %}
    <div class="card">
        <div class="card-header">
        <div class="row">
            <div class="col-md-9">
            My Attendence
            </div>
            
        </div>
        </div>
    </div>
    <h2 style="text-align:center;">WELCOME TO YOUR PROFILE</h2><br>
    <table>
        <thead>
            <th style="width: 150px;">Subject</th>
            <th style="width: 150px;">Present</th>
            <th style="width: 150px;">Absent</th>
        </thead>
        <tbody>
            {% for attendence in attendences %}
                <tr>
                    <td> {{attendence.subjects}} </td>
                    <td> {{attendence.present_days}} </td>
                    <td> {{attendence.absent_days}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}