{% extends 'base.html' %}
{% block title %}profile{% endblock title %}
{% block body %}
<div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-9">
                My Profile
              </div>
              
            </div>
          </div>
        </div>
<h2 style="text-align:center;">WELCOME TO YOUR PROFILE</h2><br>
<table>
    {% if user.is_superuser or user.is_staff %}
        
            <tbody style=" font-size: 20px;">
                <tr>
                    <td>
                        First Name:
                    </td>
                    <td>
                        {{staff_records.first_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name:
                    </td>
                    <td>
                        {{staff_records.last_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        {{staff_records.email}}
                    </td>
                </tr>
            </tbody>
    {% else %}
        {% for record in records %}
                <tbody>
                    <tr>
                        <td>
                            Name:
                        </td>
                        <td>
                            {{user.get_full_name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address:
                        </td>
                        <td>
                            {{record.address}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email:
                        </td>
                        <td>
                            {{user.email}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Guardian:
                        </td>
                        <td>
                            {{record.guardian}}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            Faculty:
                        </td>
                        <td>
                            {{record.student_faculty}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Programme:
                        </td>
                        <td>
                            {{record.student_programe}}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                {% endif %}
            </table>
{% endblock body %}