{% extends 'base.html' %}
{% block body %}
<form action="/attendence" method="POST">
    {% csrf_token %}
    <label for="category" class="form-label">Choose Subject</label>
        <select name="subject_name" id = "subject_name" class="form-control">
            <option value="choose">Choose</option>
            {% for subject in subjects %}
                <option value="{{subject.subject}}">
                    {{subject.subject}}
                    <input type="hidden" name="subject_semister" id="subject_semister" value=" {{subject.subject_semister}}">
                </option>
            {% endfor %}
        </select>
    <button type="submit">Upload</button>
</form>
{% endblock body %}