{% extends 'base.html' %}
{% block title %}take_attendance{% endblock title %}
{% block body %}
<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-9">
          Attendance List
        </div>
        {% comment %} <div class="col-md-3" align="right">
          <button type="button" id="add_button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
            Add <span data-feather="plus-square">
          </button>
          <button type="button" id="edit_button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
            Edit <span data-feather="edit">
          </button>
          
        </div> {% endcomment %}
      </div>
    </div>
  </div>
  <p>This is the take attendance page</p>
  <form method="POST">
    {% csrf_token %}
    <div class="table-responsive" style="width: 96%; margin-left: 2%; padding-top: 2%;">
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Roll Number</th>
            <th></th>
            <th>Current Year</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
            <tr>
                <td>
                  <input type="checkbox" value="True" id="{{ student.roll }}" name="{{ student.roll }}">
                  <label for="{{ student.roll }}">
                      {{ student.roll }}Present
                  </label>
                </td>
                <td>{{ student.roll }}</td>
                <td></td>
                <td>{{ student.batch }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button type="submit" name="attendance_submit">Submit Attendance</button>
  </form>

{% endblock body %}
